# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.dylib

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la

# Executables
*.out
*.app

# nodejs项目依赖模块
tools/csvtools/node_modules

# webstorm项目文件
.idea

# xcode项目文件
xcuserdata
project.xcworkspace

# excel临时文件
~$*.xlsx